/* Desktop */

.wrapper {
  width: 100%;
  background-color: #e9e9e9;
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
  margin-bottom: 15px;
}

.text-wrapper {
  text-align: center;
  padding-top: 50px;
}

.text-wrapper h1 {
  margin: 0;
  display: inline-flex;
  align-items: center;
  font-size: 21pt;
}

.text-wrapper p {
  font-size: 15pt;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  grid-area: 1 / 1 / 5 / 5;
  margin: 0 20px;
  padding-bottom: 100px;
  justify-items: center;
}

.photos {
  width: 350px;
  height: 500px;
}

/* For mobile devices */

@media screen and (min-width: 340px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-area: 1 / 1 / 5 / 5;
    margin: 0 20px;
    padding-bottom: 100px;
  }
}

/* For tablets */

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-area: 1 / 1 / 5 / 5;
    margin: 0 20px;
    padding-bottom: 100px;
  }
}
